<h1 id="title">Content editable dummy app</h1>
{{#link-to 'index'}} general playground {{/link-to}} <br>
{{#link-to 'lists'}} test lists {{/link-to}} <br>
{{#link-to 'editor.update-before-after'}} Editor test update before/after {{/link-to}} <br>
{{#link-to 'editor.backspace'}} Test backspace {{/link-to}}
{{outlet}}
